{% extends 'mtbackup/base.html' %}


{% block content %}

<div class="jumbotron">
    <div class="container">
        <h1>List all Customers</h1>
        <p>Alle Kunden auflisten</p>

        <form role="form" method="post">
            {% csrf_token %}

        <div>
            <p>

            <a href="{% url 'customer_new' %}"><button type="button" class="btn btn-outline-dark"><i class="fas fa-plus-square"></i> Add</button></a>

            <a href="#"><button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#DeviceEditModal"><i class="fas fa-edit"></i> Edit</button></a>

            <a href="#"><button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#CustomerDeleteModal"><i class="fas fa-eraser"></i> Delete</button></a>

            <a href="#"><button type="button" class="btn btn-outline-dark" name="action" value="info"><i class="fas fa-info-circle"></i> Info</button></a>

            </p>
        </div>


        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th scope="col">Select</th>
                <th scope="col">Name</th>
                <th scope="col">Number</th>
                <th scope="col">Comment</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            {% for c in customers %}
            <tr>
                <td><input type="checkbox" name="select" value="{{ c.id }}"></td>
                <td>{{ c.name }}</td>
                <td>{{ c.number }}</td>
                <td>{{ c.comment }}</td>
                <td><i class="far fa-check-circle" style="color:green"></i></td>
                <td>

                </td>
              </tr>
            {% endfor %}
            </tbody>

        </table>



        {% if customers.has_other_pages %}
            <ul class="pagination justify-content-center">
                {% if customers.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ customers.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                {% endif %}

                {% for i in customers.paginator.page_range %}
                    {% if customers.number == i %}
                        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span> </span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if customers.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ customers.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}




    </div>
</div>





<div class="modal fade" id="CustomerDeleteModal" tabindex="-1" role="dialog" aria-labelledby="CustomerDeleteModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Really delete Customer?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-auto">
        <h1 class="display-4">Warning!</h1>
        <h5>Customer will be lost, although existing Devices and Backups will not be deleted!</h5>

      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, please return...</button>
        <a href='#'><button type='submit' name="action" value="delete" class='btn btn-danger'>YES, I am sure!</button></a>

      </div>
    </div>
  </div>
</div>



</form>




{% endblock %}


